
[geral]
mode = DEVELOPMENT
url = http://localhost/
domain = mydomain.com.br
prefix = Your application page prefix

[html]
js[] = js/jquery.min.js
js[] = js/bootstrap.js
css[] = css/bootstrap.min.css
css[] = css/bootstrap-theme.min.css
css[] = css/site.css

[memory]
templates[appheader] = site/defaultheader
templates[appfooter] = site/defaultfooter
;valores que deverão ser adicionados na memória
