{{>htmlheader}}
<div class="container access-denied">
    
    <div class="row permissao-negada">
        <h1><span class="alert alert-danger">Acesso Negado! Você não tem permissão para executar esta ação!</span></h1>
        <a href="/" class="btn btn-default ">Voltar à aplicação</a>
    </div>
    
</div>

{{>htmlfooter}}