{{>htmlheader}}
 

<div class="container">
    <div class="row">
        <div class="form-container col-md-6">
            <form action="/painel/testaconexao" method="post" class="form-horizontal">
                
                <div class="form-group">
                    <label for="driver" class="col-md-2">DRIVER</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="driver" name="driver" value="pgsql" placeholder="pgsql ou mysql">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="host" class="col-md-2">HOST</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="host" name="host" value="localhost">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="banco" class="col-md-2">BANCO</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="banco" name="banco" value="test" placeholder="o nome de algum banco que já exista">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="usuario" class="col-md-2">USUÁRIO</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="usuario" name="usuario" value="root">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="senha" class="col-md-2">SENHA</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="senha" name="senha" value="123456">
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-10 pull-right">
                        <button type="submit" class="btn btn-success">testa conexão</button>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-10 pull-right">
                    {{#conectado}}
                        <h1 class="label label-success">{{status_conexao}}</h1>
                    {{/conectado}}
                    {{^conectado}}
                        <h1 class="label label-danger">{{status_conexao}}</h1>
                    {{/conectado}}
                    </div>
                </div>
                
            </form>
            
        </div>
        <div class="col-md-6">
           
        </div>
    </div>
</div>





{{>htmlfooter}}
